<nav class="navbar navbar-expand-lg navbar-light bg-light" style="z-index: 100;">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/members">Members</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/massages">Masseges</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " routerLink="/lists">Lists</a>
        </li>
      </ul>
      <div class="mx-3" style="right:10px;position:absolute" *ngIf="(currentUser$ |async)===null">
          <button class="mx-3" mat-flat-button (click)="registerUser()" color="accent">register</button>
          <button class="mx-3" mat-flat-button color="primary" (click)="loginUser()">login</button>
      </div>
      <div class="mx-3" style="right:10px;position:absolute" *ngIf="currentUser$ |async">
      
        <button  mat-button [matMenuTriggerFor]="menu">Menu</button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="logoutUser()">logout</button>
          <button mat-menu-item>Dashboard</button>
        </mat-menu>
      </div>
    </div>
  </nav>